/* * {
  margin: 0%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: skyblue;
}

.door-side {
  height: 400px;
  width: 280px;
  background: url(img2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 14px solid #f8f0ea;
}

.main-door {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  height: 400px;
  width: 280px;
  background-color: #934915;
  transform-origin: 0% 20%;
  animation: opendoor 6s linear infinite;
}

@keyframes opendoor {
  to {
    transform: rotateY(90deg);
  }
}

.door-derocation {
  height: 140px;
  width: 170px;
  background-color: #934915;
  border: 5px solid #b47647;
  box-shadow: 2px 2px 10px #363535 inset;
}

.door-derocation:nth-child(2) {
  height: 140px;
  width: 170px;
  background-color: #934915;
  border: 5px solid #b47647;
  box-shadow: 2px 2px 10px #363535 inset;
}

.door-lock {
  position: absolute;
  height: 40px;
  width: 20px;
  background-color: rgb(255, 200, 0);
  top: 47%;
  left: 86%;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 1px rgb(46, 45, 45);
} */
